name: Rebuild daily list
#force reregistration
on:
  schedule:
    - cron: "10 1 * * *"  # 01:10 UTC
  workflow_dispatch:

jobs:
  rebuild:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run rebuild script
        env:
          TODOIST_TOKEN: ${{ secrets.TODOIST_TOKEN }}
        run: |
          python rebuild.py
